<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Benachrichtigungen und exakte, geplante Erinnerungen
         (flutter_local_notifications). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Optionaler Wecker-Modus: Bildschirm aufwecken und Erinnerung ueber dem
         Sperrbildschirm zeigen. Ab Android 14 muss der Nutzer das zusaetzlich
         in den Systemeinstellungen erlauben. -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- Wecker-Modus: eigenes Vibrieren mit Alarm-Attributen, auch wenn die
         Vibration fuer Benachrichtigungen abgeschaltet ist. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Ausnahme von "Bitte nicht stoeren" fuer den Wecker-Kanal. Erst diese
         Deklaration bringt die App ueberhaupt in die Systemliste, in der die
         Freigabe erteilt wird. -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- Kamera fuer den Barcode-Scanner (mobile_scanner). -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Biometrisches App-Schloss (local_auth). -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Update aus der App heraus installieren (eigener Update-Kanal). Der
         Nutzer muss das zusaetzlich einmalig fuer diese App erlauben. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:label="Zuhaus"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep-Links: OAuth-Rueckweg/Passwort-Reset (login-callback) und
                 Haushalts-Einladungen (join). -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="de.lukas.multiapp"
                      android:host="login-callback"/>
                <data android:scheme="de.lukas.multiapp"
                      android:host="join"/>
            </intent-filter>
        </activity>
        <!-- Empfaenger von flutter_local_notifications. Ohne diese Eintraege
             wird ein Alarm zwar gesetzt, aber beim Ausloesen fuehrt ihn
             niemand aus: geplante Erinnerungen kommen dann nie an. -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />
        <!-- Stellt geplante Erinnerungen nach einem Neustart wieder her. -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <!-- Verarbeitet die Knoepfe "Genommen" und "Snooze" direkt aus der
             Benachrichtigung, auch wenn die App nicht im Vordergrund ist. -->
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver"
            android:exported="false" />

        <!-- Gibt die heruntergeladene APK aus dem Zwischenspeicher an den
             System-Installer weiter. Eigene Authority, damit sie sich nicht
             mit der von share_plus beisst. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updates"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
